<div class="wrapper">
  <div class="container">
    <div class="upper-container">

      <div class="searchbar">
        <input id="search" type=search placeholder="Location" #box (keyup.enter)="getval(box.value)">
    </div>

      <img id="image" 
        src="{{img_src}}">
      <div class="weather-data">
        <div class="location">{{weatherdata.location.city}}, {{weatherdata.location.country}}</div>
        <div class="temperature">{{weatherdata.current_observation.condition.temperature}}°C</div>
        <div class="state">{{weatherdata.current_observation.condition.text}}</div>
      </div>
      <!--weather-data-end-->
    </div>
    <!--upper-container-end-->
    <div class="lower-container">
      <p id="lower-cont-heading">More Information</p>
      <div class="inner-container">
        <div class="row1">
          <div class="card">

            <img class="icon" src="">
            <div class="info">{{weatherdata.forecasts[0].low}}°C</div>
            <div class="cond">Min</div>

          </div>
          <!--card-end-->

          <div class="card">

            <img class="icon" src="">
            <div class="info">{{weatherdata.forecasts[0].high}}°C</div>
            <div class="cond">Max</div>

          </div>
          <!--card-end-->
        </div>
        <!--row1-end-->

        <div class="row2">
          <div class="card">

            <img class="icon" src="">
            <div class="info">{{weatherdata.current_observation.atmosphere.humidity}}%</div>
            <div class="cond">Humidity</div>

          </div> <!--card-end-->
          
        </div>  <!--row2-end-->

      </div>
      <!--inner-container-end-->
    </div>
    <!--lower-container-end-->
  </div> <!--container-end-->

  <div class="container2">
       

    <div id="ex-heading">Extended Forecast</div>
       
    <div class="ex-container">
        <div class="week-data" *ngFor="let data of weatherdata.forecasts">
            <span>{{data.day}}</span>
            <span>{{data.text}}</span>
            <span>{{data.low}}°C/{{data.high}}°C</span>
        </div><!--week-data-end-->
       
        
    </div> <!--ex-container-end-->

  </div> <!--container2-end-->


</div><!--wrapper-end-->